In [1]:
##뱅크리스트 읽어들이기

* 저는 목록이에요 마크다운으로 쓴

# 외부 파일
## 데이터프레임 넣기
### 조건검색

*나는 목록

In [3]:
import pandas as pd

In [75]:
banklist = pd.read_csv('data/banklist.csv')

In [49]:
type(banklist)

pandas.core.frame.DataFrame

In [50]:
banklist.head() #헤드 읽기

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,2017-12-15,2017-12-20
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,2017-10-13,2017-10-20
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",2017-05-26,2017-07-26
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,2017-05-05,2017-07-26
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,2017-04-28,2017-12-05

In [51]:
baml;ost

NameError: name 'baml' is not defined

In [52]:
banklist

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,2017-12-15,2017-12-20
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,2017-10-13,2017-10-20
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",2017-05-26,2017-07-26
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,2017-05-05,2017-07-26
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,2017-04-28,2017-12-05
...,...,...,...,...,...,...,...
550,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",2001-07-27,2014-08-19
551,Malta National Bank,Malta,OH,6629,North Valley Bank,2001-05-03,2002-11-18
552,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2001-02-02,2003-02-18
553,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,2000-12-14,2005-03-17
554,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,2000-10-13,2005-03-17

In [53]:
banklist.shape #행열 간단히 읽기 = dimension

(555, 7)

In [54]:
banklist.dtypes #object = string

Bank Name                object
City                     object
ST                       object
CERT                      int64
Acquiring Institution    object
Closing Date             object
Updated Date             object
dtype: object

In [55]:
cert = banklist['CERT']

In [56]:
cert

0      30570
1      17719
2       1802
3      30003
4      58302
       ...
550    32646
551     6629
552    34264
553     3815
554    21029
Name: CERT, Length: 555, dtype: int64

In [57]:
type()

TypeError: type() takes 1 or 3 arguments

In [58]:
type(cert)

pandas.core.series.Series

In [59]:
cert.max() #칼럼 추출 변수명으로 이미 지정해놓음

58701

In [60]:
cert.min()

91

In [61]:
cert.mean()

31702.318918918918

In [62]:
cert.std() #분산 확인 -> 분산이 크면 하위와 상위의 차이가 크다는 것임

16401.78435076751

In [63]:
cert > cert.mean() #브로드캐스팅 이루어짐

0      False
1      False
2      False
3      False
4       True
       ...
550     True
551    False
552     True
553    False
554    False
Name: CERT, Length: 555, dtype: bool

In [64]:
cert[cert > cert.mean()] #조건검색, True인것만 가져오렴

4      58302
5      35495
7      34951
10     35312
13     35156
       ...
540    33784
543    34979
549    34248
550    32646
552    34264
Name: CERT, Length: 284, dtype: int64

In [65]:
cert2 = cert[cert > cert.mean()] #조건검색, True인것만 가져오와서 변수안에 지정
cert2

4      58302
5      35495
7      34951
10     35312
13     35156
       ...
540    33784
543    34979
549    34248
550    32646
552    34264
Name: CERT, Length: 284, dtype: int64

In [66]:
cert * cert

0       934524900
1       313962961
2         3247204
3       900180009
4      3399123204
          ...
550    1065761316
551      43943641
552    1174021696
553      14554225
554     442218841
Name: CERT, Length: 555, dtype: int64

In [67]:
cert * 2 #전체 칼럼에 곱하기 2

0       61140
1       35438
2        3604
3       60006
4      116604
        ...
550     65292
551     13258
552     68528
553      7630
554     42058
Name: CERT, Length: 555, dtype: int64

In [68]:
cert.sort_index(ascending=False) #인덱스 오름차순 False로 되면, Desc 내림차순으로 됨

554    21029
553     3815
552    34264
551     6629
550    32646
       ...
4      58302
3      30003
2       1802
1      17719
0      30570
Name: CERT, Length: 555, dtype: int64

In [69]:
#전체프레임에 조건을 가지고 와서 가지고 오자!
#조건검색은 대괄호
banklist[banklist['CERT'] > banklist['CERT'].mean()]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,2017-04-28,2017-12-05
5,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,2017-03-03,2017-05-18
7,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,2017-01-13,2017-05-18
10,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,2016-05-06,2016-09-06
13,Hometown National Bank,Longview,WA,35156,Twin City Bank,2015-10-02,2018-01-12
...,...,...,...,...,...,...,...
540,AmTrade International Bank,Atlanta,GA,33784,No Acquirer,2002-09-30,2006-09-11
543,New Century Bank,Shelby Township,MI,34979,No Acquirer,2002-03-28,2005-03-18
549,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,2001-09-07,2017-10-06
550,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",2001-07-27,2014-08-19
552,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2001-02-02,2003-02-18

In [70]:
banklist.dtypes #오잉 ! 날짜가 String으로 되어있어, 비교연산이 힘듦

Bank Name                object
City                     object
ST                       object
CERT                      int64
Acquiring Institution    object
Closing Date             object
Updated Date             object
dtype: object

In [71]:
#항목에 대한 타입(Series) = 칼럼은 Vector = Series
type(banklist['Closing Date'])

pandas.core.series.Series

In [72]:
#각 항목 값(=instance)에 대한 타입(object)
banklist['Closing Date'].dtype

dtype('O')

In [86]:
#데이터타입 바꾸기 
closed_datetime = pd.to_datetime(banklist['Closing Date'], format='%Y-%m-%d') #format 으로 날짜를 바꿈

In [87]:
closed_datetime

0     2017-12-15
1     2017-10-13
2     2017-05-26
3     2017-05-05
4     2017-04-28
         ...
550   2001-07-27
551   2001-05-03
552   2001-02-02
553   2000-12-14
554   2000-10-13
Name: Closing Date, Length: 555, dtype: datetime64[ns]

In [88]:
#데이터타입 바꾸기 
Updated_datetime = pd.to_datetime(banklist['Updated Date'], format='%Y-%m-%d') #format 으로 날짜를 바꿈

In [89]:
#데이터 타입 바꾼것 -> 다시 칼럼명 지정
banklist['Closing Date'], banklist['Updated Date'] = (closed_datetime, Updated_datetime)

In [90]:
banklist.dtypes

Bank Name                        object
City                             object
ST                               object
CERT                              int64
Acquiring Institution            object
Closing Date             datetime64[ns]
Updated Date             datetime64[ns]
dtype: object

In [91]:
#파생변수 만들기, 튜플안에서 빼주기
banklist['date_day'] = (banklist['Closing Date'] - banklist['Updated Date'])
banklist

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,date_day
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,2017-12-15,2017-12-20,-5 days
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,2017-10-13,2017-10-20,-7 days
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",2017-05-26,2017-07-26,-61 days
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,2017-05-05,2017-07-26,-82 days
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,2017-04-28,2017-12-05,-221 days
...,...,...,...,...,...,...,...,...
550,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",2001-07-27,2014-08-19,-4771 days
551,Malta National Bank,Malta,OH,6629,North Valley Bank,2001-05-03,2002-11-18,-564 days
552,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2001-02-02,2003-02-18,-746 days
553,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,2000-12-14,2005-03-17,-1554 days
554,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,2000-10-13,2005-03-17,-1616 days

In [92]:
banklist2 = banklist.drop(['Closing Date'], axis = 1 ) #열삭제
banklist2 #axis = 1 열 삭제

,Bank Name,City,ST,CERT,Acquiring Institution,Updated Date,date_day
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,2017-12-20,-5 days
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,2017-10-20,-7 days
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",2017-07-26,-61 days
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,2017-07-26,-82 days
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,2017-12-05,-221 days
...,...,...,...,...,...,...,...
550,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",2014-08-19,-4771 days
551,Malta National Bank,Malta,OH,6629,North Valley Bank,2002-11-18,-564 days
552,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2003-02-18,-746 days
553,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,2005-03-17,-1554 days
554,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,2005-03-17,-1616 days

In [94]:
banklist2 = banklist2.drop([5, 6], axis=0) #행삭제
banklist2

KeyError: '[5 6] not found in axis'